<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">ToDoアプリ</h1>
        <a href="/new" class="btn btn-outline-success mb-4">新規登録</a>
        <div>
            <div class="text-center card-header bg-warning text-white mb-4 rounded-2">
                やることリスト
            </div>
            <div class="card bg-warning bg-opacity-10 border-success p-4 shadow mb-4">
                <% //未完了のもののみ表示 %>
                    <ul class="list-unstyled">
                        <% todos.forEach(todo=> { %>
                            <% if (!todo.check) { %>
                                <li class="mb-3">
                                    <form action="/check/<%= todo._id %>?_method=PUT" method="POST"
                                        style="display:inline;">
                                        <input type="checkbox" name="check" onchange="this.form.submit()">
                                    </form>
                                    <%= todo.title %> (<%= todo.limit_day %>
                                            <%= todo.limit_time %>)
                                                重要度: <%= todo.importance %>
                                                    <%= //todo.check ? "完了" : "未完了" %>
                                                        <form action="/delete/<%= todo._id %>?_method=DELETE"
                                                            method="POST" style="display:inline;">
                                                            <button type="submit"
                                                                class="btn btn-outline-danger btn-sm px-2 py-0">削除</button>
                                                        </form>
                                                        <a href="/edit/<%= todo._id %>"
                                                            class="btn btn-info btn-sm px-2 py-0">編集</a>
                                </li>
                                <% } %>
                                    <% }) %>
                    </ul>
            </div>
        </div>

        <div>
            <div class="text-center card-header bg-info text-white mb-4 rounded-2">
                完了リスト
            </div>
            <div class="card bg-info bg-opacity-10 border-success p-4 shadow mb-4">
                <% //完了のもののみ表示 %>
                    <ul class="list-unstyled">
                        <% todos.forEach(todo=> { %>
                            <% if (todo.check) { %>
                                <li class="mb-3">
                                    <%= todo.title %> (<%= todo.limit_day %>
                                            <%= todo.limit_time %>)
                                                重要度: <%= todo.importance %>
                                                    <%= //todo.check ? "完了" : "未完了" %>
                                                        <form action="/delete/<%= todo._id %>?_method=DELETE"
                                                            method="POST" style="display:inline;">
                                                            <button type="submit"
                                                                class="btn btn-outline-danger btn-sm px-2 py-0">削除</button>
                                                        </form>
                                                        <a href="/edit/<%= todo._id %>"
                                                            class="btn btn-info btn-sm px-2 py-0">編集</a>
                                </li>
                                <% } %>
                                    <% }) %>
                    </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>